table {
    border-collapse: collapse !important;
    width: 100% !important;
    background: #fff !important;
}

th {
    background-color: #1c035f !important;
    font-weight: bold !important;
    color: #fff !important;
    white-space: nowrap !important;
}

td, th {
    padding: 1em 1.5em !important;
    text-align: left !important;
}

tbody th {
	background-color: #2ea879 !important;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5 !important;
    transition: all .125s ease-in-out !important;
}
tbody tr:hover {
    background-color: rgba(50,98,149,.3) !important;
}

td.rank {
	text-transform: capitalize !important;
}